/*¼ÓÔØÖÐ¡£¡£¡£*/
.loading {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: url('../img/blue-loading.gif') center no-repeat;
	background-color: #fff;
	z-index: 100;
	display: none;
}

.displaynone {
	display: none;
}

.dialog-button {
	padding: 0px;
	text-align: center;
}

.l-btn-focus {
	outline: #0000FF none thin;
}

.progressbar {
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

.progressbar-value {
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

.progressbar-text-green {
	color: #33FF33;
}

.progressbar-text-orange {
	color: #FF9224;
}

.progressbar-text-red {
	color: #DA4453;
}

.search-item>label {
	width: 75px;
}
.mbtn {
	display: inline-block;
	height: 24px;
	border: 1px solid #3968C6;
	padding: 0 10px 0 28px;
	cursor: pointer;
	background: #3968C6 10px center no-repeat;
	line-height: 24px;
	text-decoration: none;
	vertical-align: middle;
	position: relative;
	margin-left: 4px;
	font-size: 12px;
	border-radius: 5px;
}



.mbtn.mbtn-white:hover {
	background-color: #f1f1f1;
	border-color: #ccc
}

.mbtn.mbtn-white {
	border-color: #ccc;
	background-color: #fafafa;
	color: #333;
}
a.btn-blue:hover{
	background-color: #4D77CC;
    border-color: #4D77CC;
}
a.btn-blue{
	border: 1px solid #1d7ada;
    background-color:#1d7ada ;
    color:#fff;
    border-radius: 5px;
 }
 

