/*«Â¡„—˘ Ω*/
html,body{
    height: 100%;
    font-size: 12px;
}
html.panel-fit{
	overflow-x:auto;
}
body{
	min-width:1000px;
}
body,p,input,ul,ol{
	margin:0;
	padding:0;
}
p{
	font-size:12px;
}
ul,ol{
    list-style: none;
}
input,img{
    vertical-align: middle;
}
a{
    text-decoration: none;
}
.icon-menu{
    background: url("../img/expand.png") center no-repeat;
    left: 50%;
    margin-left: 0px;
}
.west-collapse{
    background: url("../img/collapse.png") center no-repeat;
    left: 50%;
    margin-left: 0px;
}


