/*清零样式*/
html,body{
    height: 100%;
    font-size: 12px;
}
html.panel-fit{
	overflow-x:auto;
}
body{
	min-width:1000px;
}
body,p,input,ul,ol{
	margin:0;
	padding:0;
}
p{
	font-size:12px;
}
ul,ol{
    list-style: none;
}
input,img{
    vertical-align: middle;
}
a{
    text-decoration: none;
}
.clearfix:after{
    display: block;
    content: '';
    clear: both;
    height: 0;
}
/*头部*/
.layout-panel{
    overflow: visible;
}
.headerBox{
    background: #2D4F99 no-repeat left center;
    padding-left:285px;
}

/*头部banner*/
.fy{
	background-image:url('../img/banner/banner_fy.jpg');
	padding-left:290px;
}
.hz{
	background-image:url('../img/banner/banner_hz.jpg');
	padding-left:307px;
}
.jj{
	background-image:url('../img/banner/banner_jj.jpg');
}
.yx{
	background-image:url('../img/banner/banner_yx.jpg');
}
.jxsj{
	background-image:url('../img/banner/banner_jxsj.jpg');
	padding-left:258px;
}
.tzsj{
	background-image:url('../img/banner/banner_tzsj.jpg');
	padding-left:338px;
}
.yy{
	background-image:url('../img/banner/banner_yy.jpg');
	padding-left:274px;
}
.zjst{
	background-image:url('../img/banner/banner_zjst.jpg');
	padding-left:323px;
}
.jixian{
	background-image:url('../img/banner/banner_jixian.jpg');
	padding-left:275px;
}
.jian{
	background-image:url('../img/banner/banner_jian.png');
	padding-left:310px;
}
.jian_{
	background-image:url('../img/banner/banner_jian2.jpg');
}
.ningjin{
	background-image:url('../img/banner/banner_ningjin.jpg');
	padding-left:275px;
}
.ly{
	background-image:url('../img/banner/banner_ly.jpg');
}
.mp{
	background-image:url('../img/banner/banner_mp.jpg');
}
.sc{
	background-image:url('../img/banner/banner_sc.png');
}
.lh{
	background-image:url('../img/banner/banner_lh.jpg');
	padding-left:310px;
}
.zg{
	padding-left:310px;
	background-image:url('../img/banner/banner_zg.jpg');
}
.gx{
	padding-left:350px;
	background-image:url('../img/banner/banner_gx.jpg');
}
.chengdu{
	padding-left:340px;
	background-image:url('../img/banner/banner_chengdu.jpg');
}
.chengdu2{
	padding-left:245px;
	background-image:url('../img/banner/banner_chengdu2.jpg');
}
.fushun{
	padding-left:310px;
	background-image:url('../img/banner/banner_fushun.jpg');
}
.hami{
	padding-left:240px;
	background-image:url('../img/banner/banner_hami.jpg');
}
.lhtw{
	padding-left:340px;
	background-image:url('../img/banner/banner_lhtw.jpg');
}
.yizhou{
	padding-left:284px;
	background-image:url('../img/banner/banner_yizhou.jpg');
}

/*头部列表*/

.header-nav-list{
    font-size: 0;
    background: #2D4F99;
}
.header-nav-list > li{
    display: inline-block;
    border-left: 1px solid #1F3F8A;
    padding: 0 15px;
    cursor: pointer;
    vertical-align:middle;
}
.header-nav-list > li:hover,
.header-nav-list > li.active{
    background: #203f8b;
}
.header-nav-list .help-text{
	display:block;
	font-size:12px;
	height: 50px;
    line-height: 50px;
    line-height: 52px\9;
	color: #CDCBCC;
	padding:0 15px;
}
.nav-item{
    position: relative;
    height: 50px;
    line-height: 50px;
    line-height: 52px\9;
}
.nav-item-text{
    font-size: 12px;
    color: #CDCBCC;
}
.iconBox .nav-item-text{
    margin-left: 20px;
}
.dropdownBox{
	width:86px;
	text-align:right;
}
.dropdownBox .nav-item-text{
    width:100%;
    display:inline-block;
    white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	padding-right:15px;
	box-sizing:border-box;
	*width:71px;
}
.nav-item .triangle{
    background: url("../images/user_avatar.png") center no-repeat;
    right: 0;
}

/*下拉菜单*/
.dropdown-menu{
    position: absolute;
    left:-16px;
    top: 50px;
    line-height: normal;
    width: 116px;
    border: 1px solid #d3d3d3;
    background: #fff;
    display: none;
}
.dropdown-menu:before{
    display: inline-block;
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    border-right:7px solid transparent;
    border-left:7px solid transparent ;
    border-bottom: 8px solid #fff;
    top: -8px;
    left: 44px;
}
.dropdown-list  li{
    height: 26px;
    color: #5a5a5a;
    text-align: center;
    font-size:12px;
    position:relative;
}
.dropdown-menu-item-icon{
	display:inline-block;
	width:16px;
	height:16px;
	vertical-align:middle;
}
.dropdown-menu-item-text{
	display:inline-block;
	height:16px;
	line-height:16px;
	line-height:18px\9;
	vertical-align:middle;
}
.dropdown-menu li:hover{
    background: #e5e9ed;
}
/*左边导航*/

.west{
    width: 180px;
    height: 100%;
    position: relative;
}
.menuBox{
    height: 100%;
    overflow: hidden;
}
.menu-header{
    height: 34px;
    position: relative;
    background: #38424E;
    cursor: pointer;
}
.panel-body .accordion,
.accordion-body{
    background:#293038;
    border: none;
    *border-width:0 0 0 0;
}
.panel-body.accordion-body{
	 scrollbar-arrow-color: #010100;  /*图6,三角箭头的颜色*/
     scrollbar-face-color: #1c2229;  /*图5,立体滚动条的颜色*/
     scrollbar-3dlight-color: #666;  /*图1,立体滚动条亮边的颜色*/
     scrollbar-highlight-color: #37434e;  /*图2,滚动条空白部分的颜色*/
     scrollbar-shadow-color: #37434e;  /*图3,立体滚动条阴影的颜色*/
     scrollbar-darkshadow-color: #37434e;  /*图4,立体滚动条强阴影的颜色*/
     scrollbar-track-color: #37434e;  /*图7,立体滚动条背景颜色*/

     scrollbar-base-color:#1c2229;  /*滚动条的基本颜色*/
}

.menuBox .panel-tool{
    display: none;
}
.menuBox .panel-header{
    background: #23282E;
    height: 34px;
    padding: 0;
    border: none;
    filter:none;
}
.menuBox .panel-header:hover{
    background: #2E4E99;
}
.menuBox .panel-header .panel-icon{
    left: 17px;
}
.menuBox .panel-title{
    height: 34px;
    line-height: 34px;
    line-height:36px\9;
    padding-left: 40px;
    color: #fff;
}
.menuBox .menu-navTwo-item{
    height: 40px;
    line-height: 40px;
    line-height: 42px\9;
    font-size: 0;
    padding: 0;
    position: relative;
    background:#293038;
    cursor: pointer;
}
.menu-navTwo li.active .menu-navTwo-item,
.menu-navTwo-item:hover{
    background:#2E4E99;
}
.menu-navTwo-text{
    font-size: 12px;
    margin-left: 50px;
    color: #fff;
}
.west-collapse .menu-navTwo-text,
.west-collapse .panel-title{
    display: none;
}


.navTwo{
    background:#293038;
}


/*左边菜单图标样式*/
.icon{
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    margin: -8px 0 0 0;
}
.accordionBox .icon{
    left: 17px;
}
.icon-triangle{
    background: url("../img/triangle2.png") center no-repeat;
}
.icon-sss{
    background: url("../img/kakou.png") center no-repeat;
}
.icon-menu{
    background: url("../img/expand.png") center no-repeat;
    left: 50%;
    margin-left: -8px;
}
.west-collapse .icon-menu{
    background: url("../img/collapse.png") center no-repeat;
}
.accordion-header-selected .icon-triangle{
    background: url("../img/triangle.png") center no-repeat;
}

.icon-work{
    background: url("../img/work.png") center no-repeat;
}

/*提示信息*/

.tips{
    display: inline-block;
    padding:0 15px;
    position: absolute;
    background: #293038;
    height: 40px;
    line-height: 40px;
    color: #fff;
    left: 65px;
    white-space:nowrap;
}
.tips:before{
    position: absolute;
    content: '';
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #293038 ;
    top:10px;
    left: -8px;
}

/*右边内容*/
.centerMenu,
.tabsBox{
    height: 100%;
}

.frameBox{
    overflow: hidden;
    height: 100%;
    position:relative;
}
.iframeHide{
	filter:Alpha(opacity=0);
	opacity:0;
}



/*右边导航*/
.tabs-header{
    padding: 0;
}
.panel-title{
    font-weight:normal;
}
.tabs{
    padding-left:14px;
}
.tabs-header{
    border:none;
    background:#fff;
    padding:0 14px;
}
.tabs-panels{
    border:none;
}
.tabs li{
    margin-right:10px;
}
.tabs-panels .panel-body{
    overflow: hidden;
}
.tabs li a.tabs-inner,.tabs li a.tabs-inner:hover{
    border:none;
    background:transparent;
    padding:0 5px;
    filter:none;
    height: 40px;
    box-sizing: border-box;
}
.tabs li.tabs-selected a.tabs-inner{
    color:#3F4C80;
    background:transparent;
    filter:none;
}
.tabs li{
	height:34px;
	overflow:hidden;
	box-sizing:border-box;
	border-bottom:2px solid transparent;
}
.tabs li.tabs-selected{
	border-bottom-color:#3F4C80;
}

/*右边导航*/
.center-header{
	padding:0 14px;
	display:none;
}

/*右边一级导航*/

.center-first-nav{
	height:33px;
	border-bottom:1px solid #d3d3d3;
}
.center-first-nav-item{
	display:inline-block;
	height:32px;
	line-height:34px;
	line-height:36px\9;
	padding:0 5px;
	margin-right:10px;
	border-bottom:2px solid transparent;
	cursor:pointer;
}
.center-first-nav-item:hover{
	color:#3F4C80;
}
.center-first-nav-item.selected{
	border-bottom-color:#3F4C80;
	color:#3F4C80;
	font-weight:bold;
}

/*右边二级导航**/

.center-second-nav{
	height:34px;
	position:relative;
	margin:10px 0 0 0;
	border:1px solid #d3d3d3;
	background:#EFF3FE;
	display:none;
}
.center-second-nav-item{
	display:inline-block;
	margin-right:0;
	padding:0 15px;
	border-right:1px solid #d3d3d3;	
	height:34px;
	line-height:34px;
	line-height:36px\9;
	overflow:hidden;
	vertical-align:top;
	color:#575765;
	cursor:pointer;
}
.center-second-nav-item:hover{
	color:#000;
}
.center-second-nav-item.selected{
	background:#fafafa;
	height:35px;
	color:#3F4C80;
	font-weight:bold;
}


.secondTabs{
	padding:0;
}

.secondTabs .tabs{
	padding:0;
	position:relative;
	margin:10px 0 0 0;
	border:1px solid #d3d3d3;
	background:#EFF3FE;
	width:100%;
	box-sizing:border-box;
}
.secondTabs .tabs li{
	background:#EFF3FE;
	margin-right:0;
	padding:0 15px;
	border-right:1px solid #d3d3d3;	
	height:34px;
	height:33px\9;
	overflow:hidden;
	border-bottom:none;
}
.secondTabs .tabs .tabs-inner{
	position:relative;
	top:-1px;
	top:0\9;
}
.secondTabs .tabs li.tabs-selected{
	background:#FAFAFA;
	height:35px;
	border-bottom:none;
}
.secondTabs .tabs li.tabs-selected a.tabs-inner{
	border:none;
	
}

/*加载中。。。*/

.loading{
	height:100%;
	width:100%;
	position:absolute;
	left:0;
	top:0;
	background:url('../img/blue-loading.gif') center no-repeat;
	background-color:#fff;
    z-index:100;
    display:none;
}




/*通用*/
.pull-left{
    float:left;
}
.pull-right{
    float:right;
}


/*垂直居中*/
.vertical-center{
    font-size: 0;
    line-height:normal;
}
.vertical-center:after{
	display:inline-block;
	content:'';
	height:100%;
	width:0;
	vertical-align:middle;
}



/*头部实战应用*/
.quick-menu{
	border-left:1px solid #1F3F8A;
	border-right:1px solid #1F3F8A;
	height:50px;
	position:relative;		
	box-sizing:border-box;
	font-size:0;
	margin-right:-1px;
	z-index:2;
}
.quick-menu:hover{
	background: #203f8b;
}
.workplace .quick-menu-header{
	padding:0 15px;
	display:block;
}
.quick-menu-header{
	cursor:pointer;
	padding:0 25px 0 15px;
	height:50px;
	position:relative;
	z-index:1;
}
.quick-menu-icon-left{
	display:inline-block;
	width:16px;
	height:16px;
	background: url("../img/apply.png") center no-repeat;
	vertical-align:middle;
	margin-right:5px;
}
.quick-menu-header .nav-item-text{
	display:inline-block;
	height:14px;
	line-height:16px\9;
	vertical-align:middle;
}
.quick-menu .triangle{
    background: url("../img/triangle.png") center no-repeat;
    right: 10px;
}

/*头部实战应用选中*/
.quick-menu.active .quick-menu-header{
	background: #203f8b;
}
.quick-menu.hover .quick-menu-header{
	background:#fff;
	padding-bottom:1px;
}
.quick-menu.hover .quick-menu-icon-left{
	background: url("../img/apply2.png") center no-repeat;
}
.quick-menu.hover .nav-item-text{
	color:#6D6D6D;
}
.quick-menu.hover .triangle{
	background: url("../img/sanjiao2.png") center no-repeat;
}
.quick-navBox-show{
	position:absolute;
	background:#fff;
	top:50px;
	left:-1px;
	overflow:hidden;
	height:0;
}
.quick-navBox{
	border:1px solid #a6a6a6;
	height:420px;
	box-sizing:border-box;
	padding:20px 30px 0 0;
	overflow:hidden;
}
.quick-navBox-line{
	margin-top:25px;
	white-space:nowrap;
}
.quick-navBox-line.mgt0{
	margin-top:0;
}
.quick-navBox-text{
	display:inline-block;
	width:104px;
	text-align:right;
	margin-right:5px;
	font-size:12px;
	vertical-align:top;
	line-height:50px;
	line-height:52px\9;
	min-height:1px;
}
.quick-navBox-item{
	display:inline-block;
	width:88px;
	text-align:center;
}
.quick-navBox-item:hover{
	font-weight: bold;
	cursor:pointer;
}
.quick-navBox-item .imgbox{
	position:relative;
	width:50px;
	height:50px;
	display:inline-block;
}
.quick-navBox-item img{
	height:100%;
	width:100%;
	cursor:pointer;
	-ms-transition-property:all; 
    -ms-transition-timing-function:ease-in;
    -moz-transition-property:all; 
    -moz-transition-timing-function:ease-in;
	-webkit-transition-property:all; 
    -webkit-transition-timing-function:ease-in;
}
.icon-loading{
	position:absolute;
	left:50%;
	top:50%;
	width:32px;
	height:32px;
	margin:-16px 0 0 -16px;
	background:url('../img/18.gif') center no-repeat;
}

.quick-navBox-item:hover img{
	-webkit-transform : scale(1.05);
 	-moz-transform : scale(1.05);
 	-o-transform : scale(1.05);
 	-ms-transform : scale(1.05);
}

.quick-navBox-item p{
	color:#1C1B1B;
	margin-top:10px;
}
.separation{
	height:1px;
	background:#d3d3d3;
	margin:20px 0 14px 125px;
}


/*切换版本*/
.changeVersion{
	display:inline-block;
	color:#fff;
	margin-top:20px;
	margin-left:-10px;
}
.changeVersion span{
	cursor:pointer;
	border-bottom:1px solid #fff;
}
.changeVersion span:hover{
	color:#aaa;
	border-bottom-color:#aaa;
}








.header-nav-line{
}
.header-nav-line .nav-item{
	height:34px;
	line-height:34px;
	line-height:36px\9;
}
.header-nav-line .header-nav-list > li{
    border-right: 1px solid #38424E;
    border-left:none;
}
.header-nav-line .header-nav-list{
	background:#293038;
}


.l-item-h{
    height: 34px;
    line-height: 34px;
    line-height: 36px\9;
    position: relative;
    padding-left: 50px;
    color: #fff;
    background-color:#23282E;
    background-position: 17px center;
    background-repeat:no-repeat;
    cursor: pointer;
}
.west-collapse .l-item-h{
	font-size:0;
}
.l-item-h.active,
.l-item-h:hover{
    background-color:#2E4E99 ;
}

.accordionBox{
	background:#293038;
}


.alarm-box{
	height:20px;
	line-height:20px;
	margin-top:15px;
	font-size:12px;
	color:#fff;
	padding: 0 5px 0 20px;
	background:url('../img/work_alert.png') left center no-repeat;
	display:none;
}
.alarm-num{
	color:red;
	cursor:pointer;
}
.alarm-num:hover{
	text-decoration:underline;
}


.col-btn{
	height:50px;
	line-height:50px;
	cursor:pointer;
	text-align:center;
	border-left:1px solid #1F3F8A;
	color:#fff;
	padding:0 10px;
}